In [8]:
import pandas as pd
import os
from sqlalchemy import create_engine

In [9]:
unemployment_file = os.path.join("unemployment_csv_fixed.csv")
unemployment_df = pd.read_csv(filepath)
unemployment_df.head()

,FIPS,Name,2008,2009,2010,2011,2012,2013,2014,2015,2017,Median Household Income (2016)
0,1000,Alabama,5.7,11.0,10.5,9.6,8.0,7.2,6.8,6.1,5.9,46309.0
1,2000,Alaska,6.7,7.7,7.9,7.6,7.1,7.0,6.9,6.5,6.9,76144.0
2,4000,Arizona,6.2,9.9,10.4,9.5,8.3,7.7,6.8,6.1,5.4,53481.0
3,5000,Arkansas,5.5,7.8,8.2,8.3,7.6,7.2,6.0,5.0,3.9,44406.0
4,6000,California,7.3,11.2,12.2,11.7,10.4,8.9,7.5,6.2,5.5,67715.0

In [10]:
poverty_file = os.path.join("Poverty_cleaned_up_csv.csv")
poverty_df = pd.read_csv(poverty_file)
poverty_df.head()

,State,Total_percentage,Total_90_percent_confidence_lower_bound,Total_90_percent_confidence_upper_bound,Children_percent,Children_90_percent_confidence_lower_bound,Children_90_percent_confidence_upper_bound
0,Alabama,17.2,16.8,17.6,24.7,23.8,25.6
1,Alaska,9.9,9.3,10.5,13.6,12.3,14.9
2,Arizona,16.4,16.1,16.7,23.6,22.9,24.3
3,Arkansas,17.2,16.8,17.6,24.0,23.0,25.0
4,California,14.4,14.3,14.5,19.9,19.6,20.2

In [13]:
education_file = os.path.join("EducationReport.csv")
education_df = pd.read_csv(education_file)
education_df.head()

#Remove the first line if you don't want the US overall total on line one

,State,1970_total,1980_total,1990_total,2000_total,2012-2016_total,1970_urban_total,1980_urban_total,1990_urban_total,2000_urban_total,2012-2016_urban_total,1970_rural_total,1980_rural_total,1990_rural_total,2000_rural_total,2012-2016_rural_total
0,United States,10.70%,16.20%,20.30%,24.40%,30.30%,11.50%,17.50%,22.00%,26.20%,32.30%,6.70%,10.50%,12.30%,14.90%,18.80%
1,Alabama,7.80%,12.20%,15.70%,19.00%,24.00%,8.90%,13.70%,17.80%,21.70%,27.10%,5.30%,8.20%,9.80%,11.60%,14.40%
2,Alaska,14.10%,21.20%,23.10%,24.70%,28.80%,15.50%,22.50%,25.10%,26.60%,31.40%,13.50%,18.90%,19.20%,21.00%,23.50%
3,Arizona,12.60%,17.40%,20.30%,23.50%,28.00%,13.00%,17.90%,21.00%,24.20%,28.60%,7.50%,10.30%,9.80%,12.40%,15.00%
4,Arkansas,6.70%,10.80%,13.30%,16.70%,21.50%,8.20%,13.30%,16.30%,20.20%,25.60%,5.10%,8.30%,9.80%,12.20%,15.30%